* {
    font-family: 'Roboto Condensed', 'Courier New', Courier, monospace;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* customize */

:root {
    --bs-dark: #212121;
    --bs-low-green: #4bc6b2;
    --bs-dark-green: #2e796d;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    background: var(--bs-dark);
}

.carousel-caption {
    padding-bottom: 80px;
}

h2 {
    font-size: 60px;
}

p {
    padding: 10px
}

.btn-transparent {
    background-color: var(--bs-low-green);
    color: #fff;
    border: 3px solid var(--bs-low-green);
    padding: 9px;
}

.btn-rounded {
    border-radius: 15px;
}

.btn-transparent:hover {
    background: transparent;
}


/*
 * Change animation duration
 */

.animated {
    animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@media only screen and (max-width: 767px) {
    .carousel-caption h2 {
        font-size: 30px;
        margin-top: 20px;
    }
    .carousel-caption {
        padding-bottom: 80px;
    }
}

@media only screen and(max-width:390px) {
    .carousel-caption {
        bottom: -1.75rem;
    }
}

.carousel-item {
    overflow: hidden;
}

.carousel-item img {
    transition: all 0.2s ease;
}

.carousel-item:hover img {
    transform: scale(1.1);
}

footer {
    margin-top: 10px;
}

html {
    height: 100%;
}


/* footer */

.form-control:focus {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
}


/* 
* text decoration
*/

#keyboard:hover {
    text-decoration: underline;
    color: var(--bs-dark-green);
}

.card {
    overflow: hidden;
}

.card img {
    transition: all 0.2s ease;
}

.card:hover img {
    transform: scale(1.1);
}